grant codeBase "file:bin${/}-"{
    permission java.net.SocketPermission "*:23456", "connect,resolve"; // to connect to any server in port 23456
	permission java.io.FilePermission "<<ALL FILES>>","read,write"; // to write and read all files, for sending receiving
};
