grant codeBase "file:bin${/}-"{ // para o server
	permission java.net.SocketPermission "*:23456","listen";
	permission java.net.SocketPermission "*:*","accept";
	permission java.io.FilePermission "shadow${/}up" , "read";
	permission java.io.FilePermission ".${/}data${/}-" , "read,write";
	permission java.io.FilePermission ".${/}data" , "read,write";
};
